.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;

  h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .mainImage {
    order: 1;
    max-width: 250px;
  }

  .introContent {
    order: 2;

    .benefits {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      div {
        display: flex;
        gap: 1rem;
        align-items: center;
        font-size: 0.875rem;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .intro {
    flex-direction: row;
    gap: 6rem;
    justify-content: unset;
    margin-bottom: 6rem;

    h1 {
      font-size: 3rem;
      max-width: 20ch;
      text-align: left;
    }

    .mainImage {
      order: unset;
      max-width: 500px;
    }

    .introContent {
      order: unset;
      display: flex;
      flex-direction: column;
      gap: 6rem;

      .benefits {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
