.homeContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  background: linear-gradient(
    to bottom,
    #fafafa,
    #f4f1fb,
    #f6f0e8,
    #f5eedc,
    #f0e7eb,
    #f4f1fb,
    #fafafa 8%
  );

  padding-bottom: 2rem;

  .homeContent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 520px) {
  .homeContainer {
    background: linear-gradient(
      to bottom,
      #fafafa,
      #f4f1fb,
      #f6f0e8,
      #f5eedc,
      #f0e7eb,
      #f4f1fb,
      #fafafa 15%
    );
  }
}

@media screen and (min-width: 1200px) {
  .homeContainer {
    background: linear-gradient(
      to bottom,
      #fafafa,
      #f4f1fb,
      #f6f0e8,
      #f5eedc,
      #f0e7eb,
      #f4f1fb,
      #fafafa 20%
    );
  }
}
